<div class='container' style='min-height: 50vh'>
  <img src='{{sticker}}' class='img-fluid' alt='Responsive image' />
  <img
    src='{{qrcode}}'
    class='img-fluid'
    alt='Responsive image'
    style='display: block; margin: 0 auto;'
  />
</div>